@model Slide
@{
    ViewData["Title"] = "Detail";
}

<div class="row">
    <img src="~/img/@Model.Name" style="width:400px; height:300px; border-radius:0;" />
    
</div>
<div class="row mt-3">
    <a class="btn btn-dark " asp-action="Index">Go Back</a>
</div>


